.container{
  display: flex;


}
.grid {
  width:200px;
  height: 400px;
  display: flex;
  flex-wrap:wrap;
  background-color: LavenderBlush;
  border-style: solid;

  margin-left:45%;

}
.grid div{
  height:20px;
  width:20px;
}

.tetromino {
  background-color: blue;
}
.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: LavenderBlush;
  border-style: solid;
}
.mini-grid div{
  height: 20px;
  width: 20px;

}
h1{
font-family: 'Helvetica Neue',sans-serif;
font-size: 100px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
}
.Score{
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
body{
  text-align: center;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
   background-size: cover;
}
#start-button{
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
#start-button {
  background-color: white;
  color: black;
  border: 2px solid blue;
}

#start-button:hover {
  background-color: blue;
  color: white;
}
